.navbar {
    height: 10vh;
    margin: 0px 7rem;
    padding: 0rem 1rem;
    display: flex;  
   /* Updated property */
    position: sticky;
    top: 0;
    z-index: 3;
    text-align: center;
    color: rgb(109, 118, 118);
    gap: rem;
    
    
}
.nav-login
{
    display: flex;
    
    margin-left: 1rem;
   
}

.item {
    margin: 1rem;
    cursor: pointer;
    color:dark rgb(186, 74, 74);
    align-items: center;
    text-align: center;
    padding: 1rem .5rem;
    font-size: large;
    font-weight: bold;
    
}

.item:hover {
    
    padding-bottom: 0.25rem;
    border-bottom: 1px solid yellow;
}

@media(max-width:1280px)
{
    .nav
    {
       width: 30px;
      

    }
    .nav-log img
    {
       
    }
    .item
    {
        font-size: 18px;
        gap: 5px;
    }
}

@media(max-width:1024px)
{
    .nav
    {
        padding: 10px 30px;
        font-size: 24px;

    }
    .nav-log img
    {
        width: 90px;
    }
    .item
    {
        font-size: 16px;
        gap: 30px;
    }
}



nav { 
    display: flex; 
    padding: 0% 5%; 
    justify-content: space-between; 
    box-shadow: 0 5px 5px -5px rgba(0, 0, 0, 0.5); 
} 
 
.left { 
    display: flex; 
    margin-right: 1rem;
   
} 
 
.right { 
    display: flex; 
    align-items: center; 
    font-family: League Spartan; 
    font-weight: 600; 
    font-size: 20px; 
} 
 
.right ul { 
    display: flex; 
    text-align: center;
    align-items: center;
   
    margin-right: 5rem;
    gap: px; 
    padding-top: 2px; 
} 
 
.right li { 
    list-style: none; 
    padding: 0px 20px; 
    width: 150px; 
    text-align: center; 
} 
 
.right ul li a { 
    text-decoration: none; 
    color: black; 
    transition: 300ms; 
} 
 
.right ul li a:hover { 
    color: rgb(0, 140, 255); 
    font-weight: 800; 
} 
 
nav svg { 
    transition: 300ms; 
} 
 
nav svg:hover { 
    fill: rgb(0, 140, 255); 
} 